## Import Datasets

In [1]:
#from urllib.request import urlretrieve as retrieve
import requests

In [6]:
## Create two dictionaries of 'url' addresses per state
## - Each dictionary key will hold the name and extension we want our filed to be saved under
    ## - Save the dowloaded file with State name and .html extension
## - Each dictonary value will hold the direct download link for each xls file
    ## - NOTE the file is acutally HTML saved as xls format 
        ## - Dictionary 1 will hold the Public District info within each State
        ## - Dictionary 2 will hold the Public Schools info within each State

url = { 'Alabama.html' : 'https://nces.ed.gov/tempfiles/excelcreator/ncesdata_5107175B.xls',
        #'Alaska.html' : 'https://nces.ed.gov/tempfiles/excelcreator/ncesdata_C4078CFB.xls',
        'Arizona.html' : 'https://nces.ed.gov/tempfiles/excelcreator/ncesdata_C9C543D0.xls',
        #'Arkansas.html' : 'https://nces.ed.gov/tempfiles/excelcreator/ncesdata_3C3A77A2.xls',
        'California.html' : 'https://nces.ed.gov/tempfiles/excelcreator/ncesdata_911234A6.xls'}

In [4]:
## Download and rename files
import pandas as pd

for i, address in url.items():
    g = requests.get(address)
    open(i, 'wb').write(g.content)

In [7]:
## Convert HTML to Pandas DataFrame and save under new dictonary 'states'
import pandas as pd 

states = {}

for i in url:
    name = i[:-5]
    df = pd.read_html(i)[0]  # Load HTML into a Pandas DataFrame
    df.columns = ['NCES District ID', 
                  'State District ID', 
                  'District Name', 
                  'County Name',
                  'Street Address', 
                  'City', 'State', 
                  'ZIP', 
                  'ZIP 4-digit', 
                  'Phone', 
                  'Students',
                  'Teachers', 
                  'Schools', 
                  'Locale Code', 
                  'Locale', 
                  'Student Teacher Ratio', 
                  'Type']  # Assign New Header Column (Remove '*' in original header)
    clean_data = df[6:].reset_index(drop=True) # Slice DataFrame and Reset Index         
    temp_dict = { name : clean_data}
    states.update(temp_dict)

#### Before cleaning Data

In [11]:
california = pd.read_html('California.html')[0]
california.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics,National Center for Education Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"CCD public school district data 2018-2019, 201...","CCD public school district data 2018-2019, 201...","CCD public school district data 2018-2019, 201...","CCD public school district data 2018-2019, 201...","CCD public school district data 2018-2019, 201...","CCD public school district data 2018-2019, 201...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,The file contains (2122) records based on your...,The file contains (2122) records based on your...,The file contains (2122) records based on your...,The file contains (2122) records based on your...,The file contains (2122) records based on your...,The file contains (2122) records based on your...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NOTES:* denotes a column with data from 2019-2...,NOTES:* denotes a column with data from 2019-2...,NOTES:* denotes a column with data from 2019-2...,NOTES:* denotes a column with data from 2019-2...,NOTES:* denotes a column with data from 2019-2...,NOTES:* denotes a column with data from 2019-2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NCES is not responsible for the manner in whic...,NCES is not responsible for the manner in whic...,NCES is not responsible for the manner in whic...,NCES is not responsible for the manner in whic...,NCES is not responsible for the manner in whic...,NCES is not responsible for the manner in whic...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NCES District ID,State District ID,District Name,County Name*,Street Address,City,State,ZIP,ZIP 4-digit,Phone,Students*,Teachers*,Schools,Locale Code*,Locale*,Student Teacher Ratio*,Type
6,0601620,CA-1964212,ABC Unified,Los Angeles County,16700 Norwalk Blvd.,Cerritos,CA,90703,1838,(562)926-5566,20465.00000,827.40000,30.00000,21,Suburb: Large,24.70000000,Regular School District
7,0602291,CA-0109926,Academia Avance Charter District,Los Angeles County,PO Box 42095,Los Angeles,CA,90042,NaN,(323)230-7270,391.00000,18.61000,1.00000,11,City: Large,21.00000000,Other Education Agency
8,0602361,CA-0120097,Academia Moderna District,Los Angeles County,2410 BRd.way,Walnut Park,CA,90255,6342,(323)923-0383,465.00000,19.00000,1.00000,21,Suburb: Large,24.50000000,Other Education Agency
9,0601911,CA-3631207,Academy for Academic Excellence District,San Bernardino County,17500 Mana Rd.,Apple Valley,CA,92307,2181,(760)946-5414,1447.00000,62.82000,1.00000,21,Suburb: Large,23.00000000,Other Education Agency

In [10]:
california = states['California']
california.head(10)

,NCES District ID,State District ID,District Name,County Name,Street Address,City,State,ZIP,ZIP 4-digit,Phone,Students,Teachers,Schools,Locale Code,Locale,Student Teacher Ratio,Type
0,0601620,CA-1964212,ABC Unified,Los Angeles County,16700 Norwalk Blvd.,Cerritos,CA,90703,1838,(562)926-5566,20465.00000,827.40000,30.00000,21,Suburb: Large,24.70000000,Regular School District
1,0602291,CA-0109926,Academia Avance Charter District,Los Angeles County,PO Box 42095,Los Angeles,CA,90042,NaN,(323)230-7270,391.00000,18.61000,1.00000,11,City: Large,21.00000000,Other Education Agency
2,0602361,CA-0120097,Academia Moderna District,Los Angeles County,2410 BRd.way,Walnut Park,CA,90255,6342,(323)923-0383,465.00000,19.00000,1.00000,21,Suburb: Large,24.50000000,Other Education Agency
3,0601911,CA-3631207,Academy for Academic Excellence District,San Bernardino County,17500 Mana Rd.,Apple Valley,CA,92307,2181,(760)946-5414,1447.00000,62.82000,1.00000,21,Suburb: Large,23.00000000,Other Education Agency
4,0602503,CA-0139055,Academy of Media Arts District,Los Angeles County,Po Box 7832,Beverly Hills,CA,90212,NaN,(424)253-8984,†,†,1.00000,11,City: Large,†,Other Education Agency
5,0601650,CA-0761630,Acalanes Union High,Contra Costa County,1212 Pleasant Hill Rd.,Lafayette,CA,94549,2623,(925)280-3900,5683.00000,276.50000,5.00000,21,Suburb: Large,20.60000000,Regular School District
6,0601877,CA-2330454,Accelerated Achievement Academy District,Mendocino County,1031 N. State St.,Ukiah,CA,95482,3413,(707)463-7080,146.00000,7.00000,1.00000,33,Town: Remote,20.90000000,Other Education Agency
7,0601471,CA-0100743,Accelerated Charter Elementary District,Los Angeles County,3914 S. Main St.,Los Angeles,CA,90037,1253,(323)846-6694,501.00000,20.00000,1.00000,11,City: Large,25.10000000,Other Education Agency
8,0601732,CA-6112536,Accelerated District,Los Angeles County,4000 S. Main St.,Los Angeles,CA,90037,1022,(323)235-6343,787.00000,34.00000,1.00000,11,City: Large,23.10000000,Other Education Agency
9,0601561,CA-0125617,ACE Charter High District,Santa Clara County,1776 Edal Park Dr.,San Jose,CA,95133,1703,(408)251-1362,363.00000,14.03000,1.00000,11,City: Large,25.90000000,Other Education Agency

In [147]:
import numpy as np
alabama['Students'] = alabama['Students'].replace( '–' , 0.000)
alabama['Students'] = alabama['Students'].replace('†', 0.000)
alabama['Student Teacher Ratio'] = alabama['Student Teacher Ratio'].replace('†', 0.000)
alabama['Teachers'] = alabama['Teachers'].replace('†', 0.000)
alabama['Locale Code'] = alabama['Locale Code'].replace('†', 0.000)

In [148]:
alabama.head(20)

,NCES District ID,State District ID,District Name,County Name,Street Address,City,State,ZIP,ZIP 4-digit,Phone,Students,Teachers,Schools,Locale Code,Locale,Student Teacher Ratio,Type
0,0100197,AL-800,Acceleration Day and Evening Academy,Mobile County,3100 Cottage Hill Road Bldg 3,Mobile,AL,36606,NaN,(251)301-0050,300.00000,10.00000,1.00000,12,City: Midsize,30.00000000,Other Education Agency
1,0100009,AL-600,Al Inst Deaf And Blind,Talladega County,PO Box 698,Talladega,AL,35161,0698,(256)761-3200,0,0.00000,5.00000,32,Town: Distant,0,Regular School District
2,0100183,AL-709,Alabama Clinical Schools,Jefferson County,PO Box 100968,Birmingham,AL,35210,4308,(205)836-9923,0,0.00000,1.00000,12,City: Midsize,0,Regional District
3,0100018,AL-207,Alabama School of Fine Arts,Jefferson County,1800 Rev Abraham Woods Jr Blvd,Birmingham,AL,35203,NaN,(205)252-9241,0,0.00000,0.00000,12,City: Midsize,0,Regular School District
4,0100002,AL-210,Alabama Youth Services,Jefferson County,PO Box 66,Mount Meigs,AL,36057,0066,(334)215-3859,0,0.00000,0.00000,21,Suburb: Large,0,Regular School District
5,0100190,AL-103,Alabaster City,Shelby County,10111 Highway 119,Alabaster,AL,35007,NaN,(205)663-8400,6184.00000,341.85000,5.00000,21,Suburb: Large,18.10000000,Regular School District
6,0100005,AL-101,Albertville City,Marshall County,107 W Main St,Albertville,AL,35950,1625,(256)891-1183,5636.00000,295.50000,6.00000,32,Town: Distant,19.10000000,Regular School District
7,0100030,AL-102,Alexander City,Tallapoosa County,375 Lee St,Alexander City,AL,35010,2708,(256)234-5074,3065.00000,176.52000,5.00000,32,Town: Distant,17.40000000,Regular School District
8,0100060,AL-104,Andalusia City,Covington County,1201 C C Baker Avenue,Andalusia,AL,36421,2101,(334)222-3186,1794.00000,98.24000,3.00000,33,Town: Remote,18.30000000,Regular School District
9,0100090,AL-105,Anniston City,Calhoun County,PO Box 1500,Anniston,AL,36202,1500,(256)231-5000,1947.00000,110.50000,7.00000,13,City: Small,17.60000000,Regular School District
10,0100100,AL-106,Arab City,Marshall County,750 Arabian Dr NE,Arab,AL,35016,1161,(256)586-6011,2632.00000,160.90000,4.00000,41,Rural: Fringe,16.40000000,Regular School District
11,0100120,AL-107,Athens City,Limestone County,455 US Highway 31 North,Athens,AL,35611,2653,(256)233-6600,4284.00000,213.26000,8.00000,31,Town: Fringe,20.10000000,Regular School District
12,0100180,AL-109,Attalla City,Etowah County,101 Case Ave,Attalla,AL,35954,3404,(256)459-7017,1526.00000,94.00000,3.00000,23,Suburb: Small,16.20000000,Regular School District
13,0100210,AL-110,Auburn City,Lee County,PO Box 3270,Auburn,AL,36831,3270,(334)887-2100,8738.00000,499.00000,13.00000,13,City: Small,17.50000000,Regular School District
14,0100240,AL-001,Autauga County,Autauga County,153 W 4th St,Prattville,AL,36067,3011,(334)365-5706,9094.00000,490.00000,15.00000,41,Rural: Fringe,18.60000000,Regular School District
15,0100270,AL-002,Baldwin County,Baldwin County,2600 North Hand Ave,Bay Minette,AL,36507,4180,(251)937-0308,32267.00000,1790.20000,44.00000,41,Rural: Fringe,18.00000000,Regular School District
16,0100300,AL-003,Barbour County,Barbour County,PO Box 429,Clayton,AL,36016,0429,(334)367-8280,755.00000,45.00000,3.00000,43,Rural: Remote,16.80000000,Regular School District
17,0100037,AL-666,BayPointe Residential Services,Mobile County,5800 Southland Drive,Mobile,AL,36693,3316,(334)450-2223,0,0.00000,1.00000,12,City: Midsize,0,Regional District
18,0100330,AL-113,Bessemer City,Jefferson County,PO Box 1230,Bessemer,AL,35021,1230,(205)432-3000,3618.00000,184.50000,9.00000,21,Suburb: Large,19.60000000,Regular School District
19,0100360,AL-004,Bibb County,Bibb County,721 Walnut Street,Centreville,AL,35042,2277,(205)926-9881,3236.00000,183.25000,9.00000,32,Town: Distant,17.70000000,Regular School District

In [86]:
alabama = states['Alabama'] 
#alabama.info()
#alabama.head(10)

alabama['ZIP 4-digit'].fillna('NULL', inplace = True)
alabama['Students*'] = alabama['Students*'].replace('–' , 'NULL')
#albama['Students*'] = albama['Students*'].replace('\u+2020', 'NULL')

print(albama.columns)
alabama.head(10)

KeyError: 'Students*'

In [149]:
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="flow2020",
                               db="cfes_schema"))

In [152]:
alabama.to_sql('alabama2', con = engine, if_exists = 'append', chunksize = 1000)

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'index' in 'field list'")
[SQL: INSERT INTO alabama2 (`index`, `NCES District ID`, `State District ID`, `District Name`, `County Name`, `Street Address`, `City`, `State`, `ZIP`, `ZIP 4-digit`, `Phone`, `Students`, `Teachers`, `Schools`, `Locale Code`, `Locale`, `Student Teacher Ratio`, `Type`) VALUES (%(index)s, %(NCES District ID)s, %(State District ID)s, %(District Name)s, %(County Name)s, %(Street Address)s, %(City)s, %(State)s, %(ZIP)s, %(ZIP 4-digit)s, %(Phone)s, %(Students)s, %(Teachers)s, %(Schools)s, %(Locale Code)s, %(Locale)s, %(Student Teacher Ratio)s, %(Type)s)]
[parameters: ({'index': 0, 'NCES District ID': '0100197', 'State District ID': 'AL-800', 'District Name': 'Acceleration Day and Evening Academy', 'County Name': 'Mobile County', 'Street Address': '3100 Cottage Hill Road Bldg 3', 'City': 'Mobile', 'State': 'AL', 'ZIP': '36606', 'ZIP 4-digit': None, 'Phone': '(251)301-0050', 'Students': '300.00000', 'Teachers': '10.00000', 'Schools': '1.00000', 'Locale Code': '12', 'Locale': 'City: Midsize', 'Student Teacher Ratio': '30.00000000', 'Type': 'Other Education Agency'}, {'index': 1, 'NCES District ID': '0100009', 'State District ID': 'AL-600', 'District Name': 'Al Inst Deaf And Blind', 'County Name': 'Talladega County', 'Street Address': 'PO Box 698', 'City': 'Talladega', 'State': 'AL', 'ZIP': '35161', 'ZIP 4-digit': '0698', 'Phone': '(256)761-3200', 'Students': 0.0, 'Teachers': '0.00000', 'Schools': '5.00000', 'Locale Code': '32', 'Locale': 'Town: Distant', 'Student Teacher Ratio': 0.0, 'Type': 'Regular School District'}, {'index': 2, 'NCES District ID': '0100183', 'State District ID': 'AL-709', 'District Name': 'Alabama Clinical Schools', 'County Name': 'Jefferson County', 'Street Address': 'PO Box 100968', 'City': 'Birmingham', 'State': 'AL', 'ZIP': '35210', 'ZIP 4-digit': '4308', 'Phone': '(205)836-9923', 'Students': 0.0, 'Teachers': '0.00000', 'Schools': '1.00000', 'Locale Code': '12', 'Locale': 'City: Midsize', 'Student Teacher Ratio': 0.0, 'Type': 'Regional District'}, {'index': 3, 'NCES District ID': '0100018', 'State District ID': 'AL-207', 'District Name': 'Alabama School of Fine Arts', 'County Name': 'Jefferson County', 'Street Address': '1800 Rev Abraham Woods Jr Blvd', 'City': 'Birmingham', 'State': 'AL', 'ZIP': '35203', 'ZIP 4-digit': None, 'Phone': '(205)252-9241', 'Students': 0.0, 'Teachers': '0.00000', 'Schools': '0.00000', 'Locale Code': '12', 'Locale': 'City: Midsize', 'Student Teacher Ratio': 0.0, 'Type': 'Regular School District'}, {'index': 4, 'NCES District ID': '0100002', 'State District ID': 'AL-210', 'District Name': 'Alabama Youth Services', 'County Name': 'Jefferson County', 'Street Address': 'PO Box 66', 'City': 'Mount Meigs', 'State': 'AL', 'ZIP': '36057', 'ZIP 4-digit': '0066', 'Phone': '(334)215-3859', 'Students': 0.0, 'Teachers': '0.00000', 'Schools': '0.00000', 'Locale Code': '21', 'Locale': 'Suburb: Large', 'Student Teacher Ratio': 0.0, 'Type': 'Regular School District'}, {'index': 5, 'NCES District ID': '0100190', 'State District ID': 'AL-103', 'District Name': 'Alabaster City', 'County Name': 'Shelby County', 'Street Address': '10111 Highway 119', 'City': 'Alabaster', 'State': 'AL', 'ZIP': '35007', 'ZIP 4-digit': None, 'Phone': '(205)663-8400', 'Students': '6184.00000', 'Teachers': '341.85000', 'Schools': '5.00000', 'Locale Code': '21', 'Locale': 'Suburb: Large', 'Student Teacher Ratio': '18.10000000', 'Type': 'Regular School District'}, {'index': 6, 'NCES District ID': '0100005', 'State District ID': 'AL-101', 'District Name': 'Albertville City', 'County Name': 'Marshall County', 'Street Address': '107 W Main St', 'City': 'Albertville', 'State': 'AL', 'ZIP': '35950', 'ZIP 4-digit': '1625', 'Phone': '(256)891-1183', 'Students': '5636.00000', 'Teachers': '295.50000', 'Schools': '6.00000', 'Locale Code': '32', 'Locale': 'Town: Distant', 'Student Teacher Ratio': '19.10000000', 'Type': 'Regular School District'}, {'index': 7, 'NCES District ID': '0100030', 'State District ID': 'AL-102', 'District Name': 'Alexander City', 'County Name': 'Tallapoosa County', 'Street Address': '375 Lee St', 'City': 'Alexander City', 'State': 'AL', 'ZIP': '35010', 'ZIP 4-digit': '2708', 'Phone': '(256)234-5074', 'Students': '3065.00000', 'Teachers': '176.52000', 'Schools': '5.00000', 'Locale Code': '32', 'Locale': 'Town: Distant', 'Student Teacher Ratio': '17.40000000', 'Type': 'Regular School District'}  ... displaying 10 of 182 total bound parameter sets ...  {'index': 180, 'NCES District ID': '0103580', 'State District ID': 'AL-067', 'District Name': 'Winston County', 'County Name': 'Winston County', 'Street Address': 'PO Box 9', 'City': 'Double Springs', 'State': 'AL', 'ZIP': '35553', 'ZIP 4-digit': '0009', 'Phone': '(205)489-5018', 'Students': '2375.00000', 'Teachers': '135.75000', 'Schools': '10.00000', 'Locale Code': '43', 'Locale': 'Rural: Remote', 'Student Teacher Ratio': '17.50000000', 'Type': 'Regular School District'}, {'index': 181, 'NCES District ID': '0100206', 'State District ID': 'AL-804', 'District Name': 'Woodland Preparatory', 'County Name': '†', 'Street Address': '21168 Hwy 17', 'City': 'Chatom', 'State': 'AL', 'ZIP': '36518', 'ZIP 4-digit': '6361', 'Phone': '(205)361-5267', 'Students': 0.0, 'Teachers': 0.0, 'Schools': '0.00000', 'Locale Code': 0.0, 'Locale': '†', 'Student Teacher Ratio': 0.0, 'Type': 'Other Education Agency'})]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [70]:
import pymysql

connection = pymysql.connect(host = 'localhost',
                             user = 'root',
                             password = 'flow2020',
                             db = 'cfes_schema')

cursor = connection.cursor()

In [75]:
for row in alabama

<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>
<generator object DataFrame.iterrows at 0x118911b30>

In [71]:
cols = "','".join([str(i) for i in alabama.columns.tolist()])

for i, row in alabama.iterrows():
    sql = "INSERT INTO 'alabama' ('" +cols + "') VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))
    
    connection.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''alabama' ('NCES District ID','State District ID','District Name','County Name*'' at line 1")